<div>
  <h1> Hello </h1>
  <p> This project was made in collaboration with Bloc.io. The goal of this project is to allow a user to sign up and create wikis that can be viewed by anyone. For those who wish to create a wiki that is viewable only to them and collaborators of their choosing, they can opt into a premium account for a small fee. From there they can make wikis private and add collaborators.
      The technologies used in this project are:</P>

  <ul>
    <li>Ruby on Rails - <a href="https://rubyonrails.org/">https://rubyonrails.org/</a></li>
    <li>Devise - <a href="https://github.com/plataformatec/devise">https://github.com/plataformatec/devise</a></li>
    <li>Pundit - <a href="https://github.com/varvet/pundit">https://github.com/varvet/pundit</a></li>
    <li>Stripe - <a href="https://stripe.com/"> https://stripe.com/</a></li>
    <li>Kaminari - <a href="https://github.com/kaminari/kaminari">https://github.com/kaminari/kaminari</a></li>
  </ul>

  <p> If you want to explore the editing capability of this application without signing up for an account, you can use the following example accounts:
    <uL>
      <li> Member: user@email.</li>
      <li> Premium: premium@email.</li>
      <li> Admin: admin@email.</li>
    </ul>
    The password for all three accounts are: password.
  </p>

  <P>For more information about me, please visit my website!</p>

  <a href="https://williamcurtiswilson.com/">https://williamcurtiswilson.com/</a>
