<h1>All Wikis</h1>

 <% @wikis.each do |wiki| %>
   <!--TODO ask mentor to go more into detail about current_user and guest user (was getting errors for guest users due to .role being nil) -->
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to wiki.title, wiki %>
        </h4>
      </div>
    </div>
  <% end %>
 
